
<h1>Albert Einstein</h1>
<p>Albert Einstein, the son of @Model.FemaleCelebrity and @Model.MaleCelebrity,</p>
<p>was born in Ulm, Germany, in 1879. In 1902, he had a job</p>
<p>as assistant @Model.Noun1 in the Swiss patent office and attended</p>
<p>the University of Zurich. There he began studying atoms, molecules,</p>
<p>and @Model.PluralNoun1. He developed the theory of</p>
<p>@Model.Adjective1 relativity, which expanded the phenomena of sub-atomic</p>
<p>@Model.PluralNoun2 and @Model.Adjective2 magnetism. In 1921,</p>
<p>he won the Nobel prize for @Model.PluralNoun3 and was director of</p>
<p>theoretical physics at the Kaiser Wilhelm @Model.Noun2 in Berlin.</p>
<p>In 1933, when Hitler became Chancellor of @Model.Place,</p>
<p>Einstein came to America to take a post at Princeton Institute for</p>
<p>@Model.PluralNoun4, where his theories helped America devise the first</p>
<p>atomic @Model.Noun3. There is no question about it: Einstein was</p>
<p>one of the most brilliant @Model.PluralProfession of our time.</p>