<h1>A trip to the Park</h1>
<p>The @Model.Noun1 decided it was a the perfect day to take a walk in the park</p>
<p> There was a @Model.Adjective1 looking man standing in the fountain.</p>
<p>You won't believe me when I tell you that he was @Model.Verb1</p>
<p>All the while holding a @Model.Noun2, and wearing a @Model.Clothing</p>
<p>He ran up to me and started talking about the @Model.Adjective2 @Model.Noun3 </p>
<p>It made me feel @Model.Feeling and so I decided to @Model.Verb2 him.</p>
<p>What a strange day!</p>